body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.top-container {
    background-color: #70e922;
    height: 110px;
    position: relative; 
}

.logo {
    width: 80px;
    height: 80px;
    position: absolute; 
    top: 15px;
    left: 2% 
}

.H1 {
    font-family: "Oswald", sans-serif;
    position: absolute;
    left: 11%;
    top: 30%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: bold;
    color: #351cd4;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.H1:hover {
    color: #ffd700;
}

.contact {
    width: 80px;
    height: 80px;
    position: absolute; 
    top: 15px;
    left: 90%; 
    border-radius: 20%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}

.contact:hover {
    transform: scale(1.2); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}
  
.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(233, 223, 223, 0.3);
}

.box{
    position: absolute;
    top:35px;
    left:37%;
    width: 420px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: white;
}

.searchnaja{
    color: aqua;
    font-size: 18px;
}

.login{
    position: absolute;
    left: 75%;
    top: 50px;
    text-decoration: none; 
    color:blue; 
    border-right: 2px dashed black; 
    padding-right: 10px; 
}

.register{
    position: absolute;
    left: 81%;
    top: 50px;
    text-decoration: none; 
    color: blue; 
    padding-left: 10px;
}
    













.navbar {
    background-color: #333;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
